InnerLoop.Gridsize 80
InnerLoop.AdaptiveGridsize 40
InnerLoop.PatternSearch.Size 3
InnerLoop.PatternSearch.Stepsize 0.1
InnerLoop.PatternSearch.nSteps 12
InnerLoop.MCsamples 10000

OuterLoop.Gridsize 160
OuterLoop.AdaptiveGridsize 40
OuterLoop.PatternSearch.Size 3
OuterLoop.PatternSearch.Stepsize 0.15
OuterLoop.PatternSearch.nSteps 16
OuterLoop.MCsamples 10000

VerificationStep.Gridsize 1000
VerificationStep.PatternSearch.Size 5
VerificationStep.PatternSearch.Stepsize 0.3
VerificationStep.PatternSearch.nSteps 20
VerificationStep.MCsamples 20000

maxiters 30
epsilon 1e-4
