InnerLoop.Gridsize 80
InnerLoop.AdaptiveGridsize 40
InnerLoop.PatternSearch.Size 3
InnerLoop.PatternSearch.Stepsize 0.1
InnerLoop.PatternSearch.nSteps 12
InnerLoop.MCsamples 10000
InnerLoop.TTest.minsamples 1000
InnerLoop.TTest.maxsamples 10000
InnerLoop.TTest.significance 0.01

OuterLoop.Gridsize 160
OuterLoop.AdaptiveGridsize 40
OuterLoop.PatternSearch.Size 3
OuterLoop.PatternSearch.Stepsize 0.1
OuterLoop.PatternSearch.nSteps 12
OuterLoop.MCsamples 10000
OuterLoop.TTest.minsamples 1000
OuterLoop.TTest.maxsamples 10000
OuterLoop.TTest.significance 0.01

VerificationStep.Gridsize 1000
VerificationStep.PatternSearch.Size 5
VerificationStep.PatternSearch.Stepsize 0.1
VerificationStep.PatternSearch.nSteps 12
VerificationStep.MCsamples 20000
VerificationStep.TTest.minsamples 2000
VerificationStep.TTest.maxsamples 20000
VerificationStep.TTest.significance 0.01

maxiters 30
epsilon 1e-4
