InnerLoop.AdaptiveGridsize 40
InnerLoop.PatternSearch.Size 3
InnerLoop.PatternSearch.Stepsize 0.15
InnerLoop.PatternSearch.nSteps 8
InnerLoop.MCsamples 40000

OuterLoop.Gridsize 160
OuterLoop.PatternSearch.Size 3
OuterLoop.PatternSearch.Stepsize 0.25
OuterLoop.PatternSearch.nSteps 12
OuterLoop.MCsamples 40000

VerificationStep.Gridsize 1000
VerificationStep.PatternSearch.Size 5
VerificationStep.PatternSearch.Stepsize 0.3
VerificationStep.PatternSearch.nSteps 16
VerificationStep.MCsamples 80000

maxiters 50
epsilon 0.0005
