InnerLoop.Gridsize                  8
InnerLoop.PatternSearch.Size        5
InnerLoop.PatternSearch.Stepsize    0.1
InnerLoop.PatternSearch.nSteps      4
InnerLoop.MCsamples                 1000

OuterLoop.Gridsize                  10
OuterLoop.PatternSearch.Size        5
OuterLoop.PatternSearch.Stepsize    0.1
OuterLoop.PatternSearch.nSteps      6
OuterLoop.MCsamples                 1000

VerificationStep.Gridsize                  20
VerificationStep.Gridfactor                0.5
VerificationStep.PatternSearch.Size        5
VerificationStep.PatternSearch.Stepsize    0.1
VerificationStep.PatternSearch.nSteps      6
VerificationStep.MCsamples                 2000

rngoffsetperiter 2000
maxiters    30
epsilon     0.01
